@namespace WebAdmin.Components

<MudPaper Elevation="1" Class="mt-2 px-3">

    <div class=" d-flex flex-row align-center">
        
            <MudTextField @bind-Value="Item.Name" Label="Name" Class="flex-grow-1 flex-shrink-0 mr-2" Variant="Variant.Outlined" Margin="Margin.Dense"
                      Error="@(!string.IsNullOrEmpty(_errorMessage))"
                      ErrorText="@_errorMessage"></MudTextField>
            <MudNumericField  @bind-Value="Item.No"  Label="No" Class="flex-grow-0 mr-1" Variant="Variant.Outlined" Margin="Margin.Dense"
                      Error="@(!string.IsNullOrEmpty(_errorMessage))"
                      ErrorText="@_errorMessage" />


            @if (_isBusy)
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" Class="flex-grow-0 flex-shrink-0 mr-2" />
            }
            else
            {
                <MudIconButton Icon="@Icons.Material.Filled.Save" aria-label="delete" Color="Color.Success" Class="flex-grow-0 flex-shrink-0 mr-1"
                       OnClick="EditItemAsync" />
            }
        


    </div>
</MudPaper>
