@namespace WebAdmin.Components

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h5">Thông tin đề xuất</MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer MaxWidth="MaxWidth.Small">
            <EditForm Model="_model">
                <MudGrid>
                    <MudItem xs="5">
                        @if (_isBusy)
                        {
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text"
                                                     Style="min-width:200px" />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle"
                                                     Height="40px" Style="min-width:200px" />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text"
                                                     Style="min-width:200px" />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text"
                                                     Style="min-width:200px" />
                        }
                        else
                        {
                            <MudText Align="Align.Center" Typo="Typo.subtitle1" Class="ma-3"> Người đề xuất </MudText>
                            <div class="d-flex justify-center">
                                <MudImage Src="@user.Avatar" Alt="@user.Name" Style="width:70%" Class="rounded-circle" ObjectFit="ObjectFit.Contain" />
                            </div>
                            <MudText Align="Align.Center" Typo="Typo.h6" Class="mt-3"> @user.Name </MudText>
                            @*<div class="d-flex justify-center">
                                <MudButton OnClick='User'>Xem chi tiết</MudButton>
                                </div>*@
                        }
                    </MudItem>
                    <MudItem xs="7">
                        @if (_isBusy)
                        {
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" Style="min-width:250px"   />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" Style="min-width:250px"   />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" Style="min-width:250px"   />
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Text" Style="min-width:250px"   />
                        }
                        else
                        {
                            <MudText Typo="Typo.h6" Class="mt-10" Color="@(_model.IsApprove == true ? Color.Success : Color.Error)">@(_model.IsApprove == null ? "Chưa duyệt" : _model.IsApprove == true ? "Đã duyệt" : "Không duyệt")</MudText>
                            <MudText Typo="Typo.subtitle1" Class="mt-2">Loại yêu cầu: @_type</MudText>
                            <MudText Typo="Typo.subtitle1">Ngày tạo yêu cầu: @_model.CreatedDate </MudText>
                            <MudText Typo="Typo.subtitle1">Nội dung: </MudText>
                            <MudTextField Value="@_model.Title" Lines="2" ReadOnly="true" Variant="Variant.Outlined" />
                        }
                    </MudItem>
                </MudGrid>
                <MudDivider Class="mt-3" />

                @if (!string.IsNullOrWhiteSpace(_errorMessage))
                {
                    <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-2">@_errorMessage</MudAlert>
                }
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <div class="d-flex flex-row-reverse">
            <MudButton Color="Color.Default" Class="mr-3" Style="width:100px;" Variant="Variant.Filled" OnClick="Close">Đóng</MudButton>
            @if (_model.IsApprove == null)
            {
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Class="mr-3" DisableElevation="true">
                    <MudButton OnClick="ApproveAsync">  @_action </MudButton>
                    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown">
                        <MudMenuItem OnClick='() => selectOption(true)'>Duyệt</MudMenuItem>
                        <MudMenuItem OnClick='() => selectOption(false)'>Không duyệt</MudMenuItem>
                    </MudMenu>
                </MudButtonGroup>
            }
            else
            {
                <MudButton OnClick="ApproveAsync" Color="Color.Primary" Variant="@(_model.IsApprove == true ? Variant.Outlined : Variant.Filled)" Class="mr-3" DisableElevation="true" Style="width:150px">@(_model.IsApprove == true ? "Không duyệt" : "Duyệt")</MudButton>
            }


        </div>

    </DialogActions>
</MudDialog>
